* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  margin: 0;
}

nav {
  background-color: #f4f3f3;
  display: flex;
  height: 7vh;
}

nav .left-side {
  flex: 50%;
  display: flex;
  align-items: center;
}
nav .left-side {
  padding-left: 90px;
}

nav .left-side ul {
  display: inline;
}

nav .left-side ul li {
  display: inline;
  margin-left: 40px;
}

nav .left-side a {
  text-decoration: none;
  color: black;
}

nav .left-side .list-active {
  color: #ec4d37;
  font-weight: 700;
}
nav .right-side {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 90px;
}

nav .right-side a {
  font-size: 15px;
  padding: 8px 20px;
  background-color: #ec4d37;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

/*card-Personal*/
/*max vh 100 */
.container-card {
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-card-and-right-content {
  display: flex;
  width: 70%;
}

.card-personal {
  flex: 30%
}

.right-content {
  flex: 70%;
  padding-left: 25px;
}

.right-content p {
  color: grey;
  line-height: 25px;
  text-align: justify;
}

.container-ability {
  display: flex;
}

.container-ability div {
  padding-right: 20px;
}